// BASE

@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Pattaya', sans-serif;
  --color-primary: rgb(91, 168, 60);
  --color-secondary: rgb(55, 164, 214);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: var(--font-primary);
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.33' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
