// Base

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, monospace;
  min-height: 100vh;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.active {
  background-color: black;
  color: white;
  outline: 1px solid white;
  border-radius: 3px;
  transform: scale(0.9);
}
