// BASE
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$bp-medium: 68.75em; // 1100px
$bp-large: 93.75em; // 1500px

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	line-height: 1.6;
	background: url(../img/Vector.svg);
}

.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

:root {
	--color-primary: #308ec3;
}

::selection {
	background-color: var(--color-primary);
}

.nav {
	background-color: rgb(250, 250, 250);
	height: 15rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 2;
	border-radius: 1rem;
	box-shadow: 1px 1px 3px rgb(94, 92, 92);

	&__title {
		font-weight: 700;
		letter-spacing: 1;
		color: var(--color-primary);
		font-size: 4rem;
	}

	&__cite {
		font-size: 1.5rem;
	}
}

.header {
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr 50rem;
	gap: 3rem;
	margin: 0 auto;
	padding: 4vw;
	max-width: 120rem;
	@media only screen and(max-width: $bp-medium) {
		grid-template-columns: 1fr;
		padding-left: 8vw;
		padding-right: 8vw;
	}

	@media only screen and(min-width: $bp-large) {
		max-width: 200rem;
	}
	&__title {
		color: var(--color-primary);
		font-size: 2.5rem;
	}

	&__content {
		padding: 3vw;
	}

	&__imgs {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		img {
			flex: 10rem;
			padding: 3vw;
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: contain;
		}

		text-align: center;
	}
}

.article {
	margin-top: 2rem;

	&__title {
		font-size: 1.5rem;
		color: var(--color-primary);
		margin-bottom: 0.5rem;
	}

	&__para {
		font-size: 1.2rem;
	}
}

.footer {
	width: 100%;
	height: 10rem;
	background-color: rgb(250, 250, 250);
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	border-radius: 1rem;
	box-shadow: 1px 1px 3px rgb(94, 92, 92);

	.link {
		text-decoration: none;
		color: rgb(0, 0, 0);
		background-color: rgb(173, 217, 235);
		padding: 0 0.5rem;
		border-radius: 2px;
		letter-spacing: 2px;
	}

	&__para {
		max-width: 120rem;
		padding-left: 8vw;
		padding-right: 8vw;
		@media only screen and(min-width: $bp-large) {
			max-width: 200rem;
		}
	}
}
